html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
   
    
}

*,
body:before,
body:after {
    box-sizing: border-box;
}



h1 {
    color: #fff;
    position: relative;
    position: absolute;
    left: 50%;
    top: 7%;
    width: 21vw;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'Cormorant', serif;

    animation: trans-h1-underline;
    background: #C9D6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}


h1 {
    color: #000;
    position: relative;
    position: absolute;
    left: 21%;
    top: 7%;
    width: 21vw;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'Cormorant', serif;
    animation: trans-h1-underline;
    background: #C9D6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

    h1:after {
        content: "";
        position: absolute;
        width: 0;
        height: 4px;
        left: 0;
        bottom: -8px;
        background: #fff;
        transition: 500ms all ease-in-out;
    }

a {
    display: block;
    position: absolute;
    height: 45px;
    line-height: 50px;
    width: 120px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    font-size: 0.85em;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family:'Poppins',sans-serif;
    
}

    a:before {
        content: "";
        background: #06a046;
        height: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 300ms all ease-in-out;
    }

    a:hover:before {
        height:10px;
        
    }
    a:hover {
       z-index:5;
       font-weight:800;
        color: #06a046;
        background-color:#fff;
    }

.container {
    background: #09f;
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

    .container .one-half {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

        .one-half.left {
            left: 0;
            background: url("../Imagens/TURISMO.jpg") center center no-repeat; background-size: cover;
        }

            .one-half  .left:before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(255, 0, 120, 0.5);
                position: absolute;
            }

        .container .one-half.right {
            right: 0;
            background: url("../Imagens/FUNCIONARIO.jpg") center center no-repeat;
            background-size: cover;
        }

            .container .one-half > .right:before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(25, 120, 220, 0.5);
                position: absolute;
            }

        .container .one-half.left, .container .one-half.right {
            transition: 500ms all ease-in-out;
        }

            .container .one-half.left:before, .container .one-half.right:before {
                transition: 500ms all ease-in-out;
            }

    .container.left-is-hovered .left {
        width: 85%;
    }

        .container.left-is-hovered .left h1:after {
            width: 100%;
        }

    .container.left-is-hovered .right {
        width: 15%;
    }

        .container.left-is-hovered .right:before {
            background: rgba(0, 0, 0, 0.65);
            z-index: 2;
        }

    .container.right-is-hovered .right {
        width: 85%;
    }

        .container.right-is-hovered .right h1:after {
            width: 100%;
        }

    .container.right-is-hovered .left {
        width: 15%;
    }

        .container.right-is-hovered .left:before {
            background: rgba(0, 0, 0, 0.65);
            z-index: 2;
        }
