* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url("../Imagens/HotelBonito60.png") no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:rgb(202 73 7 / 0,78);
}

    body > div > header > a {
        position: relative;
        left: 93%;
        color: #fff;
        z-index: 5;
        font-weight: 600;
    }

        body > div > header > a:hover {
            color: #c6e2ff;
            text-shadow: 0 0 2px rgba(202,228,225,0.92), 0 0 10px rgba(202,228,225,0.34), 0 0 4px rgba(30,132,242,0.52), 0 0 7px rgba(30,132,242,0.92), 0 0 11px rgba(30,132,242,0.78), 0 0 16px rgba(30,132,242,0.92);
        }

.container {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    width:90%;
    height:90%;
}
.horizonFly {
    text-align: center;
    color: #3A7BD5;
    font-family: 'Cormorant', serif;
    position: relative;
    top: 4vh;
}
a{
    text-decoration:none;
}
h3 {
    font-family: 'Poppins',sans-serif;
    font-size: 2vw;
    left:8vw;
    position:fixed;
    top:6vw;
}

span {
    position: relative;
    left: 80%;
    top: 3.5vw;
    background: #36CA83;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-decoration: none;
    height: 1.5vh;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
    width: 17vw;
    color: #fff;
    font-size:1.4vw;
    height: 2vw;

}

body > span > a {
    color: #fff;
    font-weight: 800;
    letter-spacing:1px;
    width: 15vw;
    height:2vw;
}


.botaoNovo {
    background-color: #36CA83;
    color: #fff;
    height: 1.5vw;
}

.card {
    width: 30vw;
    height: 22.5%;
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    display: flex;
    top:4vw;
    position:relative;
    left:2vw;
}

    .card img {
        position: fixed;
    }

    .card h2 {
        color: #000000;
        font-weight: bold;
        position: relative;
        left: 13vw;
    }

    .card h1 {
        position: relative;
        top: 0.5vw;
        left: 13vw;
        font-weight: 800;
        font-family: 'Poppins',sans-serif;
        color: #1da703;
        font-size: 2vw;
        animation: neon .08s ease-in-out infinite alternate;
        text-shadow: 0 0 1px #2356FF;
        animation: flux 2s linear infinite;
        -moz-animation: flux 2s linear infinite;
        -webkit-animation: flux 2s linear infinite;
        -o-animation: flux 2s linear infinite;
    }

.tel {
    color: #000000;
    font-weight: bold;
    position: relative;
    top: 4vh;
    font-size: 1vw;
}

.detalhes{
    max-width:10vw;
    position:relative;
    left:20vw;
}
a {
    text-decoration: none;
}
