@model  Ecommerce.Models.Reserva
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carrinho</title>
    <link href="~/Content/Site/Carrinho.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a class="voltar" href="~/Site/Index">
            Voltar
        </a>
    </header>
    @*BANNER*@
    <div class="container">
        <h1 class="Titulo"> Seu Carrinho </h1>
        @foreach (var item in Model.ItensPedido)
        {
            var id = item.cd_pacote;
            <div class="card">
                <table>
                    <tbody>
                        <tr>
                            <td class="nome"> @item.nome_pacote </td>
                            <td class="unit">Unidade: R$@item.vl_unit  </td>
                        </tr>



                        <tr>
                            <td class="qt"><input type="number" value="@item.qt" /> </td>
                            <td class="parcial">
                              R$@item.vl_parcial
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="voltar" href="~/Site/ExcluirItem/@id"> </a>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

        }
        <br />@Html.ActionLink("Continuar Comprando", "Index", "Site")

        <br />@Html.ActionLink("Finalizar Compra", "EscolherCartao", "Site")
    </div>
    <img class="poster" src="~/Imagens/posterChance.jpeg" />

    <img class="poster2" src="~/Imagens/DiaNamorados.jpeg" />


</body>
</html>
