
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carrinho</title>
    <link href="~/Content/Site/Carrinho.css" rel="stylesheet" />
</head>
<body>
    <header>
    </header>
    @*BANNER*@
    <div class="container">
        <h1 class="Titulo"> Seu Carrinho </h1>

    </div>
    <img class="poster" src="~/Imagens/posterChance.jpeg" />

    <img class="poster2" src="~/Imagens/DiaNamorados.jpeg" />


</body>
</html>
