
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Horizon FLY</title>
    <link href="~/Content/Site/Index.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <span id="fone">+55 011 3714-2125</span>
    </header>
    <div class="logo">
        <img class="logo" src="~/Imagens/LogoHorizon.png" />
    </div>
    <div class="Login-registro">
        <span id="login">Fazer Login | Registrar - se</span>
    </div>
    <div class="frase">
        <span id="frase"> <img id="aviao" src="~/Imagens/aviao.png" /> Aonde gostaria de ir?</span>
    </div>

</body>

</html>
