
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sobre</title>
    <link href="~/Content/Site/Sobre.css" rel="stylesheet" />
</head>
<body>
    <div id="parallax-world-of-ugg">

        <section>
            <div class="title">
                <h3>Sobre nós</h3>
                <h1>HORIZON FLY</h1>
            </div>
        </section>

        <section>
            <div class="parallax-one">
                <h2>ALÉM DO HORIZONTE</h2>
               
            </div>
        </section>

        <section>
            <div class="block">
                <p><span class="first-character sc">A </span> </p>
                <p class="line-break margin-top-10"></p>
                <p class="margin-top-10">Horizon fly é uma agência de turismo, realizamos viagens de avião, ônibus e cruzeiros, fornecemos pacotes já com as hospedagens inclusas. Estamos no mercado há 25 anos fornecendo os melhores pacotes de viagens, acessível a todo público e proporcionando uma experiência inesquecível.  Surgimos com o objetivo de fornecer  viagens por um preço acessível para que todos possam ter acesso aos paraíso do nosso país, proporcionando uma experiência maravilhosa aos nossos clientes</p>
            </div>
        </section>


    </div>
</body>
</html>
