* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #F3F3F3;
    font-family: 'Poppins', sans-serif;
    overflow-y:auto;
}

.container {
    width: 100%;
    height: 100%;

}

/*TEXTO HORIZON FLY */

ul {
    margin: 0;
    padding: 0;
    display: flex;
    top: 6vh;
    font-weight: 600;
    left: 40vw;
    position: relative;
}

li {
    list-style: none;
    letter-spacing: 10px;
    transition: 8s;
    font-family: 'Cormorant', serif;
    color: #3A7BD5;
    font-size: 2vw;
}

ul:hover li {
    transform: rotate(360deg) translateY(-360px);
    opacity: 0;
    filter: blur(20px);
}

ul li:nth-child(1) {
    transition-delay: 0;
}

ul li:nth-child(2) {
    transition-delay: 0.1s;
}

ul li:nth-child(3) {
    transition-delay: 0.2s;
}

ul li:nth-child(4) {
    transition-delay: 0.3s;
}

ul li:nth-child(5) {
    transition-delay: 0.4s;
}

ul li:nth-child(6) {
    transition-delay: 0.5s;
}

ul li:nth-child(7) {
    transition-delay: 0.6s;
}

ul li:nth-child(8) {
    transition-delay: 0.7s;
}

ul li:nth-child(9) {
    transition-delay: 0.8s;
}

ul li:nth-child(10) {
    transition-delay: 0.9s;
}

/*TEXTO Hotel*/
h3 {
    position: relative;
    left: 5vw;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #3A7BD5;
    font-size: 2.5vw;
    width: 10vw;
}

h2 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #3A7BD5;
    font-size: 1.5vw;
}
/*ICONS */

.sair {
    width: 30px;
    position: absolute;
    /* align-self: revert; */
    left: 95%;
    top: 1vw;
}

.voltar {
    width: 30px;
    position: absolute;
    left: 2vw;
    top: 1vw;
}
/* FOTO*/
.foto-nome img {
    width: 30VW;
    position: relative;
    left: 2vw;
    top: 2vw;
}


.foto-nome-hotel img {
    width: 30VW;
    position: relative;
    left: 2vw;
    top: 2vw;
}


.foto-nome-viagem img {
    width: 30VW;
    position: relative;
    left: 2vw;
    top: 2vw;
}

.foto-nome span {
    position: relative;
    left: 5VW;
    font-size: 2VW;
}

.foto-nome {
    position: relative;
    top: 5VW;
    display: flex;
    font-weight: 600;
}


.foto-nome-hotel {
    position: relative;
    display: flex;
    font-weight: 600;
}

.foto-nome-hotel span {
    position: relative;
    left: 5VW;
    font-size: 2VW;
}
.foto-nome-viagem {
    position: relative;
    display: flex;
    font-weight: 600;
}
/* dados hotel*/
.dados {
    position: absolute;
    top: 16vw;
    left: 35vw;
    width: 60vw;
}
.dadosHotel {
    position: relative;
    /* top: 23vw; */
    left: 35vw;
    bottom: 17vw;
    width: 60vw;
}
.dadosViagem {
    position: absolute;
 bottom:5vw;
    left: 35vw;
    width: 60vw;
}

.dado {
    font-weight: 600;
    line-break: normal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hotel {
    position: absolute;
    top: 35vw;
    width: 100%;
}
.dadoHotel {
    font-weight: 600;
    line-break: normal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.viagem {
    position: absolute;
    top: 70vw;
    height: 30vw;
    width: 100%;
}
.dadoViagem {
    font-weight: 600;
    line-break: normal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* Atualizar e excluir*/

.atualizar {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 1.3vw;
    position: absolute;
    top: 35vw;
    left: 4vw;
    border-radius: 10px;
    cursor: pointer;
}


    .atualizar:hover {
        opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    }

    .atualizar:active {
        opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
    }

    .atualizar a {
        color: #6f6cde;
        font-weight: 700;
        text-decoration: none;
    }


.excluir {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 1.3vw;
    position: absolute;
    top: 35vw;
    left: 17vw;
    border-radius: 10px;
    cursor: pointer;
}


    .excluir:hover {
        opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    }

    .excluir:active {
        opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
    }

    .excluir a {
        color: #d72727;
        font-weight: 700;
        text-decoration: none;
    }
