
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir Viagem</title>
    <link href="~/Content/Excluir/excluirHotel.css" rel="stylesheet" />
</head>
<body>
    @Html.ActionLink(" Voltar ", "Viagens")
    <div>
        <img src="~/Imagens/pagina-de-erro.png" />
        <h1> Não é Possível excluir esta viagem, pois ela está incluido em um pacote!</h1>
        <span> Caso realmente precise exclui-la é necessário remover o pacote primeiro </span>
    </div>
</body>
</html>