
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hoteis</title>
    <link href="~/Content/HotelPaginaInter.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Poppins:ital,wght@0,100;1,100;1,200;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <ul>
        <li>H</li>
        <li>O</li>
        <li>R</li>
        <li>I</li>
        <li>Z</li>
        <li>O</li>
        <li>N</li>

        <li>F</li>
        <li>L</li>
        <li>Y</li>
    </ul>
   
    <span class="voltar"> @Html.ActionLink("Voltar", "Dashboard")  </span> 
    <h1>HOTÉIS</h1>
    <span class="prosseguir"> &nbsp;&nbsp;@Html.ActionLink(" Prosseguir ", "Hoteis")&nbsp; &nbsp;</span>
</body>
</html>
