@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

body {
    background: linear-gradient(270.13deg, #13201F 1.02%, #607E76 49.33%, #5C747A 79.72%, #5C747A 90.47%);
    border-radius: 10px 10px 0px 0px;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    font-family: 'Poppins',sans-serif;
}

.container {
    background-color: #fff;
    margin: 80px 190px 30px 190px;
    border-radius: 10px;
    height: 80vh;
    width: 70%;
    background-image: url("../Imagens/posterChance.jpeg");
    background-size: 11vw;

    background-position-y:center;
    background-position-x:right;
 
    background-repeat: no-repeat;
    position: absolute;
}
.msg {
    font-size: 1vw;
    left: 1vw;
    position: relative;
}

.bodyInputs {
    position: absolute;
    background: #FFFDFD;
    height: 70vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
    overflow-y: auto;
}

.text {
    position: relative;
    background: linear-gradient(180deg, #0766D6 0%, #FFFFFF 29.17%, #22A787 77.6%, #0C3E7C 100%, #384D49 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 4.8vh;
    font-size: 4vw;
    margin-left: 25%;
    font-weight: 500;
    z-index: 5;
}

.Input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    position: relative;
    width: 20vw;
    left: 18vw;
    padding: 0;
    top:2vw;
    font-size: 1.5vw;
    outline: none;
    font-family: 'Poppins',sans-serif;
    color: var(--azul-claro);
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
}
/*MENSAGEM DE ERRO*/
.errorMessage {
    color: #b73535;
    font-size: 1.5vh;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    left: 1vw;
}
.dica{
    justify-content:center;
    display:flex;
    position:absolute;
    top:22vw;
    left:18vw;
    align-items:center;
}
.dica h2 {
    color: #FF725E;
    font-family: 'Poppins',sans-serif;
    font-size:1vw;
}
.dica .nota{
    max-width:4vw;

}
.tel {
    color: #0C3E7C;
    position:relative;
    top:20vw;
    left:2vw;
}

/*BARRA DE EFEITO INPUT*/
.bar {
    position: relative;
    display: block;
    width: 24.5vw;
    top:2vw;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        left: 18vw;
        bottom: 0.2PX;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 105%;
    }

    .bar:after {
        right: 105%;
    }

/* BUTTON*/
.button {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
    border: none;
    font-size: 1.3vw;
    width: 15vw;
    height: 5vh;
    position: relative;
    left: 19vw;
    border-radius: 10px;
    top: 7vh;
    cursor: pointer;
}


    .button:hover {
        opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    }

    .button:active {
        opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
    }



/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */


/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

