* {
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
    z-index: 2;
}

header {
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(270deg, #3A7BD5 40.68%, #254E70 94.55%);
    width: 100vw;
    height: 4vh;
    min-height: 4vh;
    z-index: 2;
}

body > div > a:nth-child(6) {
    position: relative;
    top: 0vw;
    left: 39vw;
}

body > div > a:nth-child(4) {
    position: relative;
    top: 0vw;
    left: 39vw;
}
.voltar {
    font-style: normal;
    font-weight: 300;
    color: #fff;
    margin: 15px;
    top: 5px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Poppins',sans-serif;
}


.voltar a {
    color: #fff;
    font-size: 1vw;
    position: relative;
    text-decoration:none;
    
}
a{
    text-decoration:none;
}
.poster {
 
    position: absolute;
    width: 10vw;
    z-index: 5;
    top: 4vw;
    left: 2vw;
}
.poster2 {
    position: absolute;
    width: 10vw;
    z-index: 5;
    top: 4vw;
    left: 87vw;
}

.container {
    height: 100%;
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    left: 15%;
    position: relative;
    z-index: 1;
}

.Titulo{
    position:relative;
    top:5vw;
    left:5vw;
    font-size:2vw;
    color:#3A7BD5;
}
.card {
    position: relative;
    top: 8vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 30vw;
    left: 5vw;
    border-radius:15px;
}
.nome {
    font-weight: 700;
    color: cornflowerblue;
    font-size: 1.5vw;
}
.unit {
    left: 1vw;
    position: relative;
    color: #3a7bd5;
    font-weight: 600;
}
.parcial {
    color: #08880c;
    font-size: 1.5vw;
}
input {
    position: relative;
    display: block;
    margin: 10px 10px;
    border: 0;
    outline: 0;
    width: 5vw;
    font-size: 1vw;
    border-radius: 5vw;
    padding: 1vw;
    height: 2.5vw;

    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
    background-color: #b7c1ff;
    text-shadow: 1px 1px 0 var(--color-white);
    margin-right: calc(1vw/2);
}