:root {
    --Poppins: "'Poppins', sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient( 270deg, #0550a2 40.68%, #054b98 94.55%);
    font-family: var(--Poppins);
    width: 100vw;
    height: 4vh;
    min-height: 4vh;
}

a:hover {
    color: #3694f9;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    color: #0cb5fb;
    font-weight: 500;
    text-shadow: 1px 1px #139cb5;
    text-decoration: none;
    background-color: transparent;
}

#login-button {
    display: block;
    position: relative;
    border: none;
    border-bottom: 2px solid #3A7BD5;
    width: 15vw;
    margin: 5px;
    padding: 0;
    font-size: 1.5vw;
    outline: none;
    font-family: 'Poppins',sans-serif;
    color: #FA7F72;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    background: none;
    left: 2vw;
    text-align: center;
    text-transform: none;
    text-decoration: none;
}

#login-buttonR {
    display: block;
    position: relative;
    border: none;
    width: 15vw;
    margin: 5px 6vw;
    padding: 0;
    font-size: 1.5vw;
    outline: none;
    font-family: 'Poppins',sans-serif;
    color: var(--azul-claro);
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    background: none;
}

#fone {
    font-style: normal;
    font-weight: 300;
    color: #fff;
    margin: 15px;
    position: relative;
    top: 10%;
}

.logo {
    position: absolute;
    top: 10%;
    left: 5%;
    min-width: 150px;
    max-width: 13vw;
}

#login {
    position: absolute;
    min-width: 2vw;
    color: #FA7F72;
    left: 70%;
    font-family: 'Poppins';
    top: 10%;
}


/*TEXTO  DESCUBRA O MUNDO */

#frase {
    margin: 0;
    padding: 0;
    display: flex;
    top: 20vh;
    font-weight: 600;
    left: 25vw;
    position: relative;
}

    #frase li {
        list-style: none;
        letter-spacing: 5px;
        transition: 1s;
        font-family: system-ui;
        color: #17a2b8;
        text-shadow: 1px -1px 1px #007bff;
        font-size: 1.8vw;
        text-transform: uppercase;
    }

    #frase:hover li {
        transform: rotate(360deg) translateY(-360px);
        opacity: 0;
        filter: blur(20px);
    }

    #frase li:nth-child(1) {
        transition-delay: 0;
    }

    #frase li:nth-child(2) {
        transition-delay: 0.2s;
    }

    #frase li:nth-child(3) {
        transition-delay: 0.3s;
    }

    #frase li:nth-child(4) {
        transition-delay: 0.4s;
    }

    #frase li:nth-child(5) {
        transition-delay: 0.5s;
    }

    #frase li:nth-child(6) {
        transition-delay: 0.6s;
    }

    #frase li:nth-child(7) {
        transition-delay: 0.7s;
    }

    #frase li:nth-child(8) {
        transition-delay: 0.8s;
    }

    #frase li:nth-child(9) {
        transition-delay: 0.9s;
    }

    #frase li:nth-child(10) {
        transition-delay: 0.10s;
    }

    #frase li:nth-child(11) {
        transition-delay: 0.11s;
    }

    #frase li:nth-child(12) {
        transition-delay: 0.12s;
    }

    #frase li:nth-child(13) {
        transition-delay: 0.13s;
    }

#aviao {
    position: relative;
    top: 10px;
    max-width: 3vw;
}

.search-container {
    width: 80vw;
    position: absolute;
    top: 35%;
    left: 7%;
    height: 17vh;
    display: flex;
    z-index: 1;
}

.btn-dpw {
    color: #fff;
    border: none;
    background: #254E70;
    outline: none !important;
    width: 7vw;
    text-decoration: none;
    height: 5vh;
    border-radius: 5px 5px 0px 0px;
}

    .btn-dpw:active {
        background: #254E70;
        color: #fff;
        voice-duration: 5s;
    }

    .btn-dpw:checked {
        background: #254E70;
        color: #fff;
    }

.dropdown-menu {
    position: relative;
    border: none !important;
    width: 69vw;
    outline: none !;
    background-color: transparent !important;
    border-radius: 0px 0px 20px 20px !important;
    height: 16.5vh;
    background: #254E70;
}

.Input {
    color: #07985a;
    border: none;
    font-size: 1.3vw;
    width: 15vw;
    height: 5vh;
    position: relative;
    left: 7vw;
    outline: none;
    margin: 10px 20px;
    border-radius: 5px;
    top: 5.5vh;
    cursor: pointer;
}

    .Input[type="submit"] {
        width: 10vw;
        border-radius: 15px;
        opacity: 0.9;
    }

    .Input::-webkit-input-placeholder {
        color: #5e60ce;
        position: relative;
        left: 1vw;
    }

    .Input:hover {
        box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    }

    .Input:active {
        opacity: 1;
        box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
    }

.base {
    position: absolute;
    top: 40%;
    width: 80vw;
    left: 7%;
    background: linear-gradient(270deg, #3A7BD5 40.68%, #254E70 94.55%);
    border-radius: 0px 0px 20px 20px;
    height: 18vh;
}

@media (min-width: 300px) {
}

@media (max-width: 600px) {
    #fone {
        font-style: normal;
        font-weight: 300;
        color: #fff;
        margin: 15px;
        position: relative;
        top: 10%;
        left: 55px;
    }


    .login-registro {
        position: absolute;
        top: 10%;
        left: 2%;
        min-width: 80px;
        max-width: 10vw;
    }

    #login {
        position: absolute;
        min-width: 0.5vw;
        color: #FA7F72;
        left: 60%;
        font-family: 'Poppins';
        top: 10%;
    }

    .frase {
        visibility: hidden;
    }

    #aviao {
        visibility: hidden;
    }
}

/* ANUNCIOS*/
.anuncios {
    position: absolute;
    top: 65%;
    font-family: 'Poppins';
    left: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
}

    .anuncios img {
        margin: 0px 0px 0px 90px;
    }

/* SESSÃO DE PACOTE PARA FAMILIA*/

.pacotes {
    position: absolute;
    top: 70vw;
    font-family: 'Poppins';
    left: 8%;
}

    .pacotes h1 {
        font-weight: 700;
        color: #030d29;
    }

#oferta {
    color: #1fff26;
    /* text-shadow: 0 0 10px #004c00, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff; */
    font-weight: 600;
    font-size: 2.2vw;
    letter-spacing: 2px;
}

/* Card de Pacote*/
.barra {
    background: #ff6c5c;
    position: absolute;
    top: 2vw;
    HEIGHT: 3VW;
    Z-INDEX: 5;
    BORDER-RADIUS: 0PX 20PX 20PX 0PX;
    COLOR: #FFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px #fff6;
}

    .barra p {
        position: relative;
        top: 0.5vw;
        font-weight: 500;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.62);
        font-size: 1.2vw;
    }

.Card {
    height: 30vw;
    width: 25VW;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: 'Poppins',sans-serif;
}

    .Card img {
        position: relative;
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 55%;
    }

.Titulo-pacote {
    color: #1d66a2;
    font-weight: 700;
    position: relative;
    left: 1vw;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5vw;
}

img.stars {
    position: relative;
    width: 6vw;
    height: auto;
    left: 0.5vw;
}

.Card h1 {
    font-weight: 300;
    position:relative;
    top:3.5vw;
    left:1vw;
    font-size:1.1vw;
}

#valor {
    color: red;
    font-size: 2vw;
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
