* {
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
    z-index: 2;
}

header {
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(270deg, #3A7BD5 40.68%, #254E70 94.55%);
    width: 100vw;
    height: 4vh;
    min-height: 4vh;
    z-index: 2;
}

.voltar a {
    color: #fff;
    font-size: 1vw;
    position: relative;
    left: 2vw;
}

.sair {
    position: absolute;
    left: 90%;
    color: #fff;
}
    .sair a {
        color: #fff;
        font-size: 1vw;
    }
.container {
    height: 100%;
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    left: 15%;
    overflow-y:auto;
    position: relative;
    z-index: 1;
}

.banner {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 4vh;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 10%;
    object-fit: cover;
    bottom: 40px;
    position: relative;
    object-position: center;
    top: 13vw;
}

h1#dados {
    position: absolute;
    top: 6vw;
    left: 2vw;
    font-size: 1.5vw;
}

.numero {
    font-size: 1.5vw;
}

#barrinha {
    position: absolute;
    width: 50px;
    height: 1px;
    left: 1px;
    top: 1.8vw;
    background-color: #5FAD56;
    border: 1px solid #5FAD56;
}
body > div > div > h1:nth-child(2) {
    top: 10vw;
    left: 36vw;
    font-size: 1.2vw;
    position: relative;
    font-weight: 400;
    color: darkblue;
}
.cards {
    position: absolute; top: 20vh;
}
.card {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -6px -6px 10px rgb(255 255 255 / 80%), 6px 6px 10px rgb(0 0 0 / 20%);
    color: #166ac1;
    border: none;
    font-size: 1vw;
    width: 32vw;
    height: 30vh;
    position: relative;
    left: 1vw;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.card:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}



.atualizar {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 1.3vw;
    position: relative;
    left: 53vw;
    top: 15vw;
    border-radius: 10px;
    cursor: pointer;
}


body > div > div > div > div > a{
        font-size: 1.2vw;
    text-decoration: none;
    color: #08a068;
    cursor: pointer;
}

.atualizar:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

    .atualizar:active {
        opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
    }

    .atualizar a {
        color: #d72727;
        font-weight: 700;
        text-decoration: none;
    }


.excluir {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    border: none;
    left: 41.5vw;
    font-size: 1.3vw;
    position: relative;
    /* bottom: 1vw; */
    top: 19vw;
    border-radius: 10px;
    cursor: pointer;
}


    .excluir:hover {
        opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    }

    .excluir:active {
        opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
    }

    .excluir a {
       
        color: #69dc61;
        font-weight: 700;
        text-decoration: none;
    }
