:root {
    --Poppins: "'Poppins', sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient( 270deg, #0550a2 40.68%, #054b98 94.55%);
    font-family: var(--Poppins);
    width: 100vw;
    height: 4.5vh;
    min-height: 4vh;
}

.perfil {
    position: relative;
    left: 77%;
    top: 10%;
}

.carrinho {
    position: relative;
    left: 80%;
    top: 5%;
}

.voltar {
    font-style: normal;
    font-weight: 300;
    color: #fff;
    margin: 15px;
    position: relative;
    font-family: 'Poppins';
    top: -10%;
}

.logo {
    position: absolute;
    top: 10%;
    left: 5%;
    min-width: 150px;
    max-width: 13vw;
}

/*TEXTO  DESCUBRA O MUNDO */

#frase {
    margin: 0;
    margin: 0;
    padding: 0;
    display: flex;
    top: 6vh;
    font-weight: 600;
    left: 25vw;
    position: relative;
}

    #frase li {
        list-style: none;
        letter-spacing: 5px;
        transition: 1s;
        font-family: system-ui;
        color: #17a2b8;
        text-shadow: 1px -1px 1px #007bff;
        font-size: 1.8vw;
        text-transform: uppercase;
    }

    #frase:hover li {
        transform: rotate(360deg) translateY(-360px);
        opacity: 0;
        filter: blur(20px);
    }

    #frase li:nth-child(1) {
        transition-delay: 0;
    }

    #frase li:nth-child(2) {
        transition-delay: 0.2s;
    }

    #frase li:nth-child(3) {
        transition-delay: 0.3s;
    }

    #frase li:nth-child(4) {
        transition-delay: 0.4s;
    }

    #frase li:nth-child(5) {
        transition-delay: 0.5s;
    }

    #frase li:nth-child(6) {
        transition-delay: 0.6s;
    }

    #frase li:nth-child(7) {
        transition-delay: 0.7s;
    }

    #frase li:nth-child(8) {
        transition-delay: 0.8s;
    }

    #frase li:nth-child(9) {
        transition-delay: 0.9s;
    }

    #frase li:nth-child(10) {
        transition-delay: 0.10s;
    }

    #frase li:nth-child(11) {
        transition-delay: 0.11s;
    }

    #frase li:nth-child(12) {
        transition-delay: 0.12s;
    }

    #frase li:nth-child(13) {
        transition-delay: 0.13s;
    }

.banner {
    position: absolute;
    top: 10vw;
    width: 100%;
    z-index: 5;
}

.listaPacotes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 90vw;
    position: relative;
    left: 5vw;
    top: 29vw;
    min-width: 500PX;
    text-decoration: none;
    background-color: #fff;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: flex-start;
}


/* Card de Pacote*/
.barra {
    background: #ff6c5c;
    position: absolute;
    top: 2vw;
    HEIGHT: 3VW;
    Z-INDEX: 5;
    BORDER-RADIUS: 0PX 20PX 20PX 0PX;
    COLOR: #FFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px #fff6;
}

    .barra p {
        position: relative;
        top: 0.5vw;
        font-weight: 500;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.62);
        font-size: 1.2vw;
    }


.Card {
    height: 29vw;
    width: 23VW;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: 'Poppins',sans-serif;
    text-shadow: none;
    align-content: flex-start;
    margin: 20px 0px 0px 20px;
    background-color: #f9f9f9;
}

    .Card img {
        position: relative;
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 55%;
    }

a {
    text-decoration: none;
}

.Titulo-pacote {
    color: #1d66a2;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    left: 0.3vw;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    font-size: 1.1vw;
    text-shadow: none;
}

img.stars {
    position: relative;
    width: 6vw;
    height: auto;
    left: 0.5vw;
}

.add {
    width: 4vw;
    height: 4vw;
    position: absolute;
    left: 17vw;
    border: none;
    background-color: #f9f9f9;
    top: 19vw;
    cursor: pointer;
    outline: none;
    background-image: url(../../Imagens/addCarrinho.png);
    background-size: cover;
}

.Card h1 {
    font-weight: 300;
    position: relative;
    top: 4.5vw;
    left: 1vw;
    font-size: 1.1vw;
}

#valor {
    color: red;
    font-size: 1.6vw;
}
