* {
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

body {
    background-color:#fff ;
    width:100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
    z-index:2;
}
header {
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(270deg, #3A7BD5 40.68%, #254E70 94.55%);
    width: 100vw;
    height: 4vh;
    min-height: 4vh;
    z-index: 2;
}
.container {
    height: 90%;
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    left: 15%;
    position: relative;
    z-index: 1;
}
.banner {
   
    width: 100%;
    height: 40%;
    position: absolute;
    top:4vh;
}
.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 10%;
    object-fit: cover;
    bottom: 40px;
    position: relative;
    object-position: center;
    top:13vw;
}
/*Tabela de dados*/
thead{
  width:10vw;
}
.dados {
    position: absolute;
    top: 25vw;
    left: 5vw;
}
.Titulo {
    color: #0C3E7C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    margin-left: 2vw;
}
.dado {
    color: #0C3E7C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}